.guitars_home_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("https://i.ibb.co/NprWc5M/Acoustic-guitar-with-a-beautiful-wood-on-a-black-background-in-the-light-of-a-spotlight.jpg");
  height: 100%;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
